Repository tqer39/time-capsule, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, infrastructure, textlint, yamllint, markdownlint, asdf, actionlint, pre-commit, CODEOWNERS

.amplify/main.tfの不要なリポジトリ変数を削除
  .pre-commit-config.yaml
  infrastructure/environments/sandbox/amplify/main.tf
  infrastructure/modules/amplify/main.tf
  infrastructure/modules/amplify/variables.tf
Labels: infrastructure, pre-commit

Amplifyアプリ、ブランチ、ドメイン関連付けの説明を追加
  infrastructure/modules/amplify/main.tf
Labels: infrastructure

ドメイン権限移譲元の設定を追加
  .cspell/custom-words.txt
  infrastructure/modules/domain_authority_transfer_source/main.tf
  infrastructure/modules/domain_authority_transfer_source/outputs.tf
  infrastructure/modules/domain_authority_transfer_source/variables.tf
Labels: document, infrastructure

ドメイン権限移譲先の設定を追加する。
  infrastructure/modules/domain_authority_transferee/main.tf
  infrastructure/modules/domain_authority_transferee/outputs.tf
  infrastructure/modules/domain_authority_transferee/variables.tf
Labels: infrastructure

SSL/TLS証明書のリソースを追加します。
  .cspell/custom-words.txt
  infrastructure/modules/certificate/main.tf
  infrastructure/modules/certificate/outputs.tf
  infrastructure/modules/certificate/variables.tf
Labels: document, infrastructure

"Update aws_env_name to 'portfolio'"
  infrastructure/environments/prod/shared/locals.tf
Labels: infrastructure

locals.tfを更新し、us-east-1リージョンを追加。
  infrastructure/environments/prod/shared/locals.tf
Labels: infrastructure

providers.tfのパスを更新します。
  infrastructure/environments/sandbox/amplify/providers.tf
Labels: infrastructure

ドメインモジュールを追加します。
  infrastructure/modules/domain/main.tf
  infrastructure/modules/domain/outputs.tf
  infrastructure/modules/domain/variables.tf
Labels: infrastructure

ドメインモジュールを追加する。
  infrastructure/environments/portfolio/amplify/main.tf
Labels: infrastructure

新規AWSプロバイダーを追加しました。
  infrastructure/environments/portfolio/amplify/providers.tf
  infrastructure/environments/portfolio/amplify/shared-locals.tf
  infrastructure/environments/portfolio/amplify/terraform.tf
Labels: infrastructure

共通のローカル変数を追加します。
  infrastructure/environments/portfolio/shared/locals.tf
Labels: infrastructure

locals.tfを削除しました。
  infrastructure/environments/prod/shared/locals.tf
Labels: infrastructure

ドメイン名を更新し、証明書のモジュールを追加。
  infrastructure/environments/portfolio/amplify/main.tf
Labels: infrastructure

デプロイパイプラインをポートフォリオにリネームする。
  .github/workflows/deploy_pipeline/portfolio
Labels: none

ホストゾーンのIDを出力する。
  infrastructure/modules/domain/outputs.tf
Labels: infrastructure

Update module name and domain in main.tf in sandbox
  infrastructure/environments/sandbox/amplify/main.tf
Labels: infrastructure

CKV2_AWS_39とCKV2_AWS_38を有効にします。
  .checkov.yaml
Labels: none

Feature/maintenance 2024 04 14 0847 (#19)
  .checkov.yaml
  .cspell/custom-words.txt
  .github/actions/setup-terraform/action.yml
  .github/workflows/deploy_pipeline/portfolio
  .pre-commit-config.yaml
  infrastructure/environments/portfolio/amplify/main.tf
  infrastructure/environments/portfolio/amplify/providers.tf
  infrastructure/environments/portfolio/amplify/shared-locals.tf
  infrastructure/environments/portfolio/amplify/terraform.tf
  infrastructure/environments/portfolio/shared/locals.tf
  infrastructure/environments/sandbox/amplify/main.tf
  infrastructure/modules/amplify/main.tf
  infrastructure/modules/amplify/variables.tf
  infrastructure/modules/certificate/main.tf
  infrastructure/modules/certificate/outputs.tf
  infrastructure/modules/certificate/variables.tf
  infrastructure/modules/domain/main.tf
  infrastructure/modules/domain/outputs.tf
  infrastructure/modules/domain/variables.tf
  infrastructure/modules/domain_authority_transfer_source/main.tf
  infrastructure/modules/domain_authority_transfer_source/outputs.tf
  infrastructure/modules/domain_authority_transfer_source/variables.tf
  infrastructure/modules/domain_authority_transferee/main.tf
  infrastructure/modules/domain_authority_transferee/outputs.tf
  infrastructure/modules/domain_authority_transferee/variables.tf
Labels: document, infrastructure, pre-commit

Update job name to include "sandbox" for clarity
  .github/workflows/infrastructure-sandbox.yml
Labels: infrastructure

インフラストラクチャのポートフォリオを追加。
  .cspell/custom-words.txt
  .github/workflows/infrastructure-portfolio.yml
  .github/workflows/infrastructure-portofolio-difference-check.yml
  .github/workflows/manual-infrastructure-portofolio.yml
Labels: document, infrastructure

ポートフォリオを削除しました。
  .cspell/custom-words.txt
Labels: document

Add Renovate configuration file
  renovate.json5
Labels: none

Update Terraform setup actions and cache version
  .github/actions/setup-terraform/action.yml
  .github/actions/terraform-validate/action.yml
Labels: infrastructure

GitHub Actions: 新しいPRタイトルと説明生成ワークフローを追加
  .github/workflows/generate-pr-description.yml
Labels: none

Remove custom words dictionary and update cspell configuration
  .cspell/custom-words.txt
  cspell.json
Labels: document

Remove frontend configuration and assets
  cspell.json
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.node-version
  frontend/README.md
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: document, asdf

Add initial frontend setup with Next.js and Tailwind CSS
  docs/README.ja.md
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Labels: document

Add Copilot instructions and project structure overview
  .github/copilot-instructions.md
Labels: document

Add formatting guidelines using .editorconfig to Copilot instructions
  .github/copilot-instructions.md
Labels: document

Add frontend development script to package.json
  package.json
Labels: none

Update development script and add example components for client-side rendering
  frontend/package.json
  frontend/src/components/ExampleComponent.tsx
  frontend/src/pages/index.tsx
Labels: none

Update frontend development script to use pnpm and add pnpm workspace configuration
  package.json
  pnpm-workspace.yaml
Labels: none

Add setup script for repository initialization and dependency installation
  setup-repository.sh
Labels: none

Improve setup script to check for existing dependencies before installation
  setup-repository.sh
Labels: none

Change setup script permissions to make it executable
  setup-repository.sh
Labels: none

Detect shell type and configure appropriate shell configuration file in setup script
  setup-repository.sh
Labels: none

セットアップスクリプトにpnpmインストール後のシェル設定の再読み込みを追加し、pnpmコマンドの存在確認を強化
  setup-repository.sh
Labels: none

README.ja.mdを追加し、プロジェクトのセットアップ手順とスクリプトの内容を詳細に説明
  README.ja.md
Labels: document

renovate.json5を追加し、Renovateの設定を定義
  renovate.json5
Labels: none

.github/labeler.yml:

---
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

document:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.txt'
          - '**/*.rst'
          - 'LICENSE'

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**terraform**/action.yml'
          - '.github/workflows/**infrastructure**.yml'
          - 'infrastructure/**'

textlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.textlint*'

yamllint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.yamllint'

markdownlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.markdownlint*.json'

asdf:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.*-version'
          - '.asdfrc'

actionlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.github/workflows/actionlint.yml'

pre-commit:
  - changed-files:
      - any-glob-to-any-file:
          - '.pre-commit-config.yaml'
          - '.github/workflows/pre-commit.yml'

CODEOWNERS:
  - changed-files:
      - any-glob-to-any-file:
          - '**/CODEOWNERS'
