Repository tqer39/time-capsule, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, infrastructure, textlint, yamllint, markdownlint, asdf, actionlint, pre-commit, CODEOWNERS

.terraformignoreをinfrastructureからルートディレクトリに移動
  .terraformignore
Labels: none

ファイルを追加し、自動アサインを設定します。
  .github/auto_assign.yml
Labels: none

.+/pnpm-lock.yamlを除外します。
  .pre-commit-config.yaml
Labels: pre-commit

matrixディレクトリでLambdaパッケージを作成します。
  .github/actions/terraform-plan/action.yml
Labels: infrastructure

Slack通知アクションを追加する。
  .github/actions/slack-notification-failure/action.yml
Labels: none

Add terraform-validate-outcome as output, update setup-tflint
  .github/actions/terraform-validate/action.yml
Labels: infrastructure

Add bridgecrewio to custom-words.txt
  .cspell/custom-words.txt
Labels: document

"不要なステップを削除"
  .github/actions/terraform-plan/action.yml
Labels: infrastructure

インフラストラクチャ共通の手動ワークフローを追加する
  .github/workflows/_infrastructure-common.yml
Labels: infrastructure

名前を更新: インフラストラクチャー - 共通
  .github/workflows/_infrastructure-common.yml
Labels: infrastructure

手動 - インフラストラクチャ - サンドボックスを追加します。
  .github/workflows/manual-infrastructure-sandbox.yml
Labels: infrastructure

ファイル名を変更してワークフロー名を修正する
  .github/workflows/_manual-infrastructure-common.yml
Labels: infrastructure

新しいTFCMT設定ファイルを追加します。
  .tfcmt.yml
Labels: none

手動インフラストラクチャ共通ファイルを更新。
  .github/workflows/manual-infrastructure-sandbox.yml
Labels: infrastructure

インフラチェックワークフローを追加
  .github/workflows/_infrastructure-common-difference-check.yml
Labels: infrastructure

新規ワークフローファイルを追加します
  .github/workflows/manual-infrastructure-sandbox-difference-check.yml
Labels: infrastructure

インフラストラクチャの設定を追加します。
  .github/workflows/infrastructure-sandbox.yml
Labels: infrastructure

Update working directory path to 'infrastructure'.
  .github/workflows/infrastructure-sandbox.yml
Labels: infrastructure

インフラ差分チェックのワークフローを追加
  .github/workflows/infrastructure-sandbox-difference-check.yml
Labels: infrastructure

環境名入力を削除しました。
  .github/actions/terraform-plan/action.yml
Labels: infrastructure

インフラストラクチャワークフローを削除
  .github/workflows/_infrastructure.yml
Labels: infrastructure

AWS_ENV_NAMEに変更を加える。
  .github/actions/slack-notification-failure/action.yml
Labels: none

Add word "infrastucture" to custom-words.txt
  .cspell/custom-words.txt
Labels: document

AWS_ENV_NAMEを削除します。
  .github/workflows/_infrastructure-common-difference-check.yml
Labels: infrastructure

環境変数env_nameを削除します。
  .github/workflows/infrastructure-sandbox-difference-check.yml
Labels: infrastructure

スラックのユーザー名を更新する。
  .github/actions/slack-notification-failure/action.yml
Labels: none

インフラチェックワークフローを削除しました
  .github/workflows/_infrastructure-common-difference-check.yml
  .github/workflows/manual-infrastructure-sandbox-difference-check.yml
Labels: infrastructure

Slack通知の設定を更新する。
  .github/actions/slack-notification-failure/action.yml
  .github/workflows/_manual-infrastructure-common.yml
  .github/workflows/infrastructure-sandbox-difference-check.yml
  .github/workflows/infrastructure-sandbox.yml
  .github/workflows/manual-infrastructure-sandbox.yml
  .tfcmt.yml
Labels: infrastructure

AWS アカウント ID、環境名、Slack Webhook URL を追加。
  .github/actions/terraform-apply/action.yml
  .github/workflows/_manual-infrastructure-common.yml
  .github/workflows/infrastructure-sandbox-difference-check.yml
  .github/workflows/infrastructure-sandbox.yml
  .terraform-version
Labels: infrastructure, asdf

AWS_ACCOUNT_IDをinputsから参照するように変更
  .github/actions/terraform-apply/action.yml
Labels: infrastructure

更新インフラストラクチャパスの取得方法を修正する- 一部のパスを変更- プラン実行時の変更前のパスを修正
  .github/actions/terraform-plan/action.yml
Labels: infrastructure

AWSのセキュリティチェックをスキップ設定を追加
  .checkov.yaml
  .cspell/custom-words.txt
Labels: document

新しいtfcmとgithub-commentをセットアップします。
  .github/actions/setup-tfcmt/action.yml
Labels: none

amplifyモジュールの環境設定を更新する。
  infrastructure/modules/amplify/main.tf
Labels: infrastructure

terraformファイルの変更をチェックするスクリプトをリネーム<commit message> 更新：terraformファイルの変更チェックスクリプト
  .github/scripts/check_for_changes_in_terraform_files.sh
Labels: none

Terraformバージョンを読み取るコマンドを修正
  .github/actions/setup-terraform/action.yml
Labels: infrastructure

Checkov.yamlのスキップチェックを更新する
  .checkov.yaml
Labels: none

Update script file modes to 100755
  .github/scripts/check_for_changes_in_terraform_files.sh
  .github/scripts/check_pipeline_differences.sh
  .github/scripts/delete_pr_comments.sh
Labels: none

Feature/maintenance 2024 04 12 2141 (#6)
  .checkov.yaml
  .cspell/custom-words.txt
  .github/actions/setup-terraform/action.yml
  .github/actions/setup-tfcmt/action.yml
  .github/actions/slack-notification-failure/action.yml
  .github/actions/terraform-apply/action.yml
  .github/actions/terraform-plan/action.yml
  .github/actions/terraform-validate/action.yml
  .github/auto_assign.yml
  .github/scripts/check_for_changes_in_terraform_files.sh
  .github/scripts/check_pipeline_differences.sh
  .github/scripts/delete_pr_comments.sh
  .github/workflows/_manual-infrastructure-common.yml
  .github/workflows/infrastructure-sandbox-difference-check.yml
  .github/workflows/infrastructure-sandbox.yml
  .github/workflows/manual-infrastructure-sandbox.yml
  .pre-commit-config.yaml
  .terraform-version
  .terraformignore
  .tfcmt.yml
  infrastructure/modules/amplify/main.tf
Labels: document, infrastructure, asdf, pre-commit

Terraformバージョンを出力するよう修正します。
  .github/actions/setup-terraform/action.yml
Labels: infrastructure

.github/labeler.yml:

---
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

document:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.txt'
          - '**/*.rst'
          - 'LICENSE'

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**terraform**/action.yml'
          - '.github/workflows/**infrastructure**.yml'
          - 'infrastructure/**'

textlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.textlint*'

yamllint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.yamllint'

markdownlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.markdownlint*.json'

asdf:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.*-version'
          - '.asdfrc'

actionlint:
  - changed-files:
      - any-glob-to-any-file:
          - '**/.github/workflows/actionlint.yml'

pre-commit:
  - changed-files:
      - any-glob-to-any-file:
          - '.pre-commit-config.yaml'
          - '.github/workflows/pre-commit.yml'

CODEOWNERS:
  - changed-files:
      - any-glob-to-any-file:
          - '**/CODEOWNERS'
